In [1]:
# Page No 280
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load Dataset
path = 'data\mcdonalds.csv'
df = pd.read_csv(path)

In [3]:
# First look
print('shape : ',df.shape)
df.head(3)

shape :  (1453, 15)

,yummy,convenient,spicy,fattening,greasy,fast,cheap,tasty,expensive,healthy,disgusting,Like,Age,VisitFrequency,Gender
0,No,Yes,No,Yes,No,Yes,Yes,No,Yes,No,No,-3,61,Every three months,Female
1,Yes,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,No,No,+2,51,Every three months,Female
2,No,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,Yes,No,+1,62,Every three months,Female

In [4]:
binary_matrix = df.iloc[:,:11].values
binary_matrix = (binary_matrix == 'Yes').astype('int')
print(tuple(df.columns[:11]))
np.round(binary_matrix.mean(axis=0),2)

('yummy', 'convenient', 'spicy', 'fattening', 'greasy', 'fast', 'cheap', 'tasty', 'expensive', 'healthy', 'disgusting')

array([0.55, 0.91, 0.09, 0.87, 0.53, 0.9 , 0.6 , 0.64, 0.36, 0.2 , 0.24])